* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #1D252D;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 1270px;
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-weight: 300;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h2 {
  margin: 0;
  padding: 0;
}

a {
  color: #1D252D;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}