.btn {
    border-radius: 60px;
    background-color: #476BF0;
    width: 100%;
    text-align: center;
    padding: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:hover {
    background-color: #3356D7;
}

.btn:focus-visible {
    background-color: #2143C1;
    outline: none;
}

.btn:disabled {
    background-color: #DBDFEB;
    color: #777C9B;
}

.btn--wide {
    grid-column: span 2;
}