.btn {
    border-radius: 60px;
    background-color: #476BF0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}