.custom-input {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1E222E;
    text-align: left;
}

.custom-input__field:hover {
    border: 1px solid #3356D7;
}

.custom-input__field:hover ~ .custom-input__icon {
        color: #3356D7;
}

.custom-input__field:focus-visible {
    border: 1px solid #3356D7;
    outline: none;
}

.custom-input__field:focus-visible ~.custom-input__icon {
    color: #3356D7;
}

.custom-input__field::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8F939F;
}

.custom-input__label {
    position: absolute;
    left: 16px;
    top: 0;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 0 4px;
    user-select: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #8F939F;
}

.custom-input__icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-input__field {
    border: none;
    outline: none;
    padding: 14px 30px 14px 16px;
    width: 100%;
    border: 1px solid #CDCFDE;
    border-radius: 8px;
    font-family: inherit;
}

.custom-input--wide {
    grid-column: span 2;
}

.custom-input__error-message {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F6514B;
    margin-top: 8px;
    display: none;
}

.custom-input__error .custom-input__field {
    border: 1px solid #F9C4C2;
    background-color: #FFFBFB;
}

.custom-input__error .custom-input__error-message {
    display: block;
}