.custom-checkbox {
    position: relative;
    display: flex;
    text-align: left;
}

.custom-checkbox--wide {
    grid-column: span 2;
}

.custom-checkbox__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E222E;
    padding-left: 32px;
    cursor: pointer;
}

.custom-checkbox__label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #CDCFDE;
    border-radius: 4px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-checkbox:hover .custom-checkbox__label::before {
    border: 1px solid #3356D7;
}

.custom-checkbox__field:focus-visible + .custom-checkbox__label::before {
    border: 1px solid #A0B4FF;
    outline: none;
}

.custom-checkbox__link {
    color: #476BF0;
}

.custom-checkbox__error .custom-checkbox__label::before {
    border: 1px solid #F6514B
}

.custom-checkbox__icon {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.custom-checkbox__field:checked + .custom-checkbox__label::before {
    background-color: #476BF0;
}

.custom-checkbox__field:checked + .custom-checkbox__label .custom-checkbox__icon {
    display: block;
}


