.custom-radio {
    position: relative;
}

.custom-radio__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E222E;
    display: flex;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
}

.custom-radio__label::before {
    content: "";
    border: 1px solid #CDCFDE;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-radio:hover .custom-radio__label::before {
    border: 1px solid #3356D7;
}

.custom-radio__field:focus-visible + .custom-radio__label::before {
    border: 1px solid #A0B4FF;
}

.custom-radio__field:checked + .custom-radio__label::before {
    border: none;
    background-color: #476BF0;
}

.custom-radio__field:checked + .custom-radio__label::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
}

.custom-radio__error .custom-radio__label::before {
    border: 1px solid #F6514B;
}