.footer {
    padding: 20px 0 28px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__inner-content {
    display: flex;
    gap: 24px;
}

.footer__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ADAFBA;
}

.footer__link:hover {
    color: #3356D7;
}

.footer__copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ADAFBA;
    margin: auto 0;
}

.footer__link--policy {
    font-size: 12px;
    line-height: 14px;
}

.footer__btn {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #767A85;
}