.header {
    padding: 20px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__benefit {
    display: flex;
    align-items: center;
}

.header__benefit-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__benefit-rank {
    font-family: "Noto Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777B87;
}

.header__benefit-rank--source {
    color: #A8ACB7;
}