.login__top-wraper {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.login__header {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1E222E;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.login__forgot {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E222E;
}

.login__forgot:hover {
    color: #3356D7;
}

.login__bottom-wraper {
    background: linear-gradient(90deg, #F5F6FA 0%, #F7F1F7 51.5%, #F5F7FD 100%);
    padding: 24px;
    border-radius: 0 0 20px 20px;

}

.login__bottom-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;    
}

.login__entry-link {
    display: flex;
    align-items: center;
    gap: 8px;
}