.registration__inner {
    display: grid;
    grid-template-columns: 450px 500px;
    gap: 80px;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.registration__left-inner {
    text-align: center;
    padding: 32px;
}

.registration__form {
    display: grid;
    grid-template-columns: repeat(2, 188px);
    gap: 12px 10px;
}

.registration__heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1E222E;
    margin-bottom: 20px;
}

