.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 18px 58px;
    background: linear-gradient(270deg, #537CCB 0%, #13AED7 100%);
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.btn--action {
    background: linear-gradient(270deg, #9548BD 0%, #547CCB 100%);
}

.btn--win {
    background: linear-gradient(270deg, #D812AE 0%, #9548BD 100%);
}