.custom-input {
    position: relative;
    padding-top: 28px;
}

.custom-input__field {
    border: 1px solid #F0F0F0;
    background-color: #FCFCFC;
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
}

.custom-input:hover .custom-input__field {
    border: 1px solid #BFBFBF;
}

.custom-input__field:focus-visible {
    border: 1px solid #8DD6F8;
}

.custom-input__field::placeholder {
    color: #BFBFBF;
}

.custom-input__field:disabled {
    background-color: #F6F6F6;
}

.custom-input__label {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    color: #858385;
}

.custom-input__error-message {
    display: none;
}

.custom-input--error .custom-input__field {
    background-color: #FBE2E0;
}

.custom-input--error .custom-input__error-message {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 115%;
    color: #D72522;
    margin-top: 4px;
}