.custom-radio {
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
}

.custom-radio__label {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 0 0 0 36px;
}

.custom-radio:hover .custom-radio__label {
    border: none;
}

.custom-radio__field:focus-visible + .custom-radio__label {
    border: 2px solid #259DD6;
}

.custom-radio__label::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #259DD6;
    border-radius: 50%;
    top: 16px;
    right: 16px;
}

.custom-radio__field:checked + .custom-radio__label::before {
    background-color: #259DD6;
}

.custom-radio__icon-wraper {
    display: none;
}

.custom-radio__field:checked + .custom-radio__label .custom-radio__icon-wraper {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.custom-radio:hover .custom-radio__label::before {
    border: 2px solid #1883B6;
}

.custom-radio .custom-radio__field:focus-visible + .custom-radio__label::before {
    border: 2px solid #1883B6;
}

.custom-radio > .custom-radio__field:checked + .custom-radio__label{
    border: none;
}

.custom-radio > .custom-radio__field:checked + .custom-radio__label .custom-radio__icon-wraper {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-radio .custom-radio__label::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-radio--error .custom-radio__label:before {
    border: 2px solid #D72522;
}