.order-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.order-form__sim-type-legend {
    margin: 0 auto 20px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    color: #858385;
}