.order {
    text-align: center;
    margin-bottom: 100px;
}

.order__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
}

.order__frame {
    box-shadow: 0px 10px 24px 0px #2023341A;
    border-radius: 20px;
    padding: 40px 60px;
    background-color: #FFFFFF;
    max-width: 940px;
    margin: 0 auto 28px;
}

.order__steps-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: -0.02em;
    position: relative;
    color: #858385;
}

.order__steps-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 124px;
}

.order__steps-item--current {
    color: #343033;
}

.order__steps-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 36px;
}

.order__steps-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 138px;
    width: 86px;
    height: 2px;
    background-color: #F0F0F0;
    border-radius: 50%;
}

.order__step-number {
    border-radius: 60px;
    background-color: #F0F0F0;
    color: #858385;
    padding: 4px 14px;
}

.order__steps-item--current .order__step-number {
    background-color: #239DD6;
    color: #FFFFFF;
}

.order__step-action {
    letter-spacing: 0;
}

.order__captcha-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #858385;
    display: block;
    margin: 0 auto;
    width: 940px;
    text-align: left;
}

.order__link {
    color: #239DD6;
}

.order__link:hover {
    color: #9D1881;
}