.order-form {
    text-align: left;
}

.order-form__wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.order-form__sim-type-legend {
    margin: 0 auto 20px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    color: #858385;
}

.order-form__submit-wraper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}