.tariffs {
    text-align: center;
}

.tariffs__heading {
    display: block;
    margin: 40px auto 60px;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #343033;
}

.tariffs__heading--hashtag {
    color: #259DD6;
}

.tariffs__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.tariffs__item {
    width: 340px;
    border: 1px solid #E2E4E8;
    background-color: #FFFFFF;
    border-radius: 28px;
    padding: 36px 32px 24px;
    text-align-last: left;
}