* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #FFFFFF;
  background-color: #3C52E6;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
}
