.custom-radio {
    position: relative;
}

.custom-radio__label {
    display: flex;
    padding: 0 0 0 40px;
    align-items: center;
    cursor: pointer;
}

.custom-radio__label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #ACB5BD;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.custom-radio__field:checked + .custom-radio__label::before {
    border: none;
    background-color: #1919EF;
}

.custom-radio__field:checked + .custom-radio__label::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 6px;
    
}