.apartments {
  padding: 80px 0 0;
}

.apartments__wrapper {
  display: grid;
  grid-template-columns: 420px 360px;
  align-items: center;
  justify-content: space-between;
  column-gap: 220px;
}

.apartments__icon {
  display: flex;
}

.apartments__icon,
.apartments__description {
  margin: 0 0 32px;
}

.apartments__description {
  font-size: 18px;
  line-height: 24px;
}

.apartments--reverse .apartments__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

.apartments__text {
  margin: 0 0 16px;
  line-height: 22px;
  font-weight: 300;
}

.apartments__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin: 0;
  padding: 0 0 0 16px;
}

.apartments--reverse .apartments__list {
  margin-bottom: 32px;
}

.apartments__list-item {
  line-height: 22px;
  font-weight: 300;
}

.apartments--reverse .apartments__wrapper {
  grid-template-columns: 360px 420px;
}

.apartments--reverse .apartments__content {
  grid-column: 2 / 3;
}

.apartments--reverse .benefit {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.apartments__title {
  font-family: "Ardeco", "Arial", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.apartments__detail {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}