.hero {
  padding: 48px 0 0;
}

.hero__heading {
  font-family: "Ardeco", "Arial", sans-serif;
  font-size: 70px;
  line-height: 70px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero--beautiful {
  padding-top: 80px;
}

.hero--beautiful .hero__heading {
  font-size: 64px;
  line-height: 60px;
  margin-bottom: 24px;
  text-align: center;
}

.hero__description {
  font-family: "Montserrat", "Arial", 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  display: block;
  max-width: 700px;
  margin: 0 auto 32px;
}

.hero__image {
  margin: 48px 0 0;
  width: 100%;
  min-width: 1440px;
}

