.advantages {
    display: flex;
    border-left: 1px solid rgba(29, 37, 45, 0.3);
    border-right: 1px solid rgba(29, 37, 45, 0.3);
    width: 992px;
    margin: 0 auto;
    justify-content: space-between;
}

.advantages__item {
    width: calc(100% / 3 - 20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 68px 10px 67px;
}

.advantages__number {
    font-weight: 200;
    font-size: 54px;
    line-height: 60px;
    color: #1D252D;  
}

.advantages__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #1D252D;
}

.advantages__item--accent {
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: rgba(242, 243, 238, 1);
}