.info-banner {
    display: flex;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)),
        url(../../images/DSC07556_1800px\ 3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 90px 85px;
    justify-content: space-between;
    margin-bottom: 120px;
}

.info-banner__title {
    font-weight: 300;
    font-size: 44px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;    
}

.info-banner__inner {
    width: 460px;
    text-align: right;
}

.info-banner__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}

.info-banner__link {
    border-radius: 40px;
    background-color: #D6D2C4;
    padding: 7px 74px 7px 73px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: rgba(29, 37, 45, 1);
}

