.steps-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
}

.steps-list__item {
    width: calc(100% / 3 - 40px / 3);
    text-align: center;
}

.steps-list__count {
    display: block;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    background-color: rgba(71, 107, 240, 1);
    padding: 9px 20px 9px 21px;
    width: 64px;
    margin: 0 auto 16px;
}

.steps-list__count--medium {
    width: 96px;
}

.steps-list__count--large {
    width: 128px;
}

.steps-list__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(30, 34, 46, 1);
    margin-bottom: 16px;
}

.steps-list__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(30, 34, 46, 1);
}

.steps-list__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-decoration: underline;
    color: rgba(66, 92, 211, 1);
}