/* .feature-banner {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 300px;
    border-radius: 12px;
} */

.feature-banner {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    height: 100%;
    border-radius: 12px;
}

.feature-banner--flat {
    flex-direction: column;
    min-height: 400px;
    height: 100%;
    gap: 25px;
    padding: 32px 20px 20px;
}

.feature-banner--pale-blue {
    background-color: #E7EFFF;
}

.feature-banner--blue {
    background-color: #476BF0;
}

.feature-banner--pale-green {
    background-color: #CFF6E7;
}

.feature-banner--cyan {
    background-color: #C4E7FF;
}

.feature-banner__content-wraper {
    display: flex;
    justify-content: space-between;
}

.feature-banner--flat .feature-banner__content-wraper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100% - 40px);;
}

.feature-banner__tag {
    display: block;
    border: 1px solid rgba(30, 34, 46, 0.5);
    border-radius: 4px;
    width: 66px;
    text-align: center;
    padding: 5px 9px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: rgba(30, 34, 46, 0.5);
    margin-bottom: 17px;
}

.feature-banner--flat .feature-banner__tag {
    margin: 0 auto 8px;
    padding: 5px 9px;
}

.feature-banner--dark .feature-banner__tag {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.feature-banner__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1E222E;
    margin-bottom: 12px;
}

.feature-banner--flat .feature-banner__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
}

.feature-banner--dark .feature-banner__title {
    color: #FFFFFF;
}

.feature-banner__note {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #1E222E;
}

.feature-banner--dark .feature-banner__note {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
}

.feature-banner__img {
    width: 280px;
    height: 180px;
}

.feature-banner--flat .feature-banner__img {
    width: 210px;
    height: 135px;
}

.feature-banner__link {
    border-radius: 8px;
    background-color: #476BF0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 31px 10px 30px;
    width: 140px;
}

.feature-banner--dark .feature-banner__link {
    background-color: #FFFFFF;
    color: #476BF0;
}

.feature-banner--flat .feature-banner__link {
    margin: 0 auto;
}