/* .offers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
} */

/* .offers-list__item {
  width: calc((100% / 6) - (5 * 20px / 6));
} */

.offers-list {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  margin-bottom: 100px;
}

.offers-list__item {
  min-height: 280px;
  padding: 0
}

.offers-list__item--tall {
  grid-row: span 2;
}

.offers-list__item--wide {
  grid-column: span 2;
}

.offers-list__item--contrast {
  color: #FFFFFF;
}

.offers-list__item--contrast .special-card {
  background-color: #5E81FF;
}

.offers-list__item--contrast .special-card__heading {
  color: #FFFFFF;
}

.offers-list__item--contrast .special-card__note {
  color: #FFFFFF;
  margin-bottom: 12px;
}

.offers-list__item--contrast .special-card__next {
  background-color: #FF8516;
}
