.special-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  padding: 20px 20px 0;
  border-radius: 16px;
  background: #F4F6FA;
  width: 100%;
  height: 100%;
  padding: 30px 30px 0;
}

/* .special-card__heading {
  margin: 0;
  color: #1E222E;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
} */

.special-card__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #1E222E;
  margin-bottom: 8px;
}

.special-card__note {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1E222E;
}

.special-card__footer-wraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.special-card__next {
  border-radius: 8px;
  background-color: #5E81FF;
  padding: 14px 12px 14px 13px;
  line-height: 0;
  margin-bottom: 30px;
}

.special-card__advantages-list {
  margin: 16px 0 0;
  padding: 0;
  list-style-type: disc;
  font-size: 15px;
  line-height: 20px;
}

.special-card__advantages-item {
  margin: 0 0 12px 20px;
}