.advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  width: 990px;
  margin: 0 auto 120px;
  padding: 0;
  border-right: 1px solid $color-blue-charcoa;
  border-left: 1px solid $color-blue-charcoa;
  list-style: none;

  @include vp-1023 {
    gap: 34px;
    margin: 0 auto 80px;
    width: unset;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 30px;
    border: none;
    margin: 0 auto 60px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33.33% - 20px);

    @include vp-1023 {
      width: calc((100% - 34px * 2) / 3);
      padding: 15px;
    }

    @include vp-767 {
      width: 100%;
      padding: 0;
    }
  }

  &__item--accent {
    padding: 20px;
    background-color: $color-twilight-blue;
    border-radius: 0 60px 0 60px;

    @include vp-1023 {
      padding: 15px 0 30px;
    }

    @include vp-767 {
      width: 220px;
      padding: 15px;
    }
  }

  &__number {
    margin: 0 0 10px 0;
    font-size: 54px;
    font-weight: 200;
    line-height: 60px;
    color: $color-blue-charcoa;

    @include vp-1023 {
      font-size: 40px;
      line-height: 44px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 5px 0;
    }
  }

  &__text {
    width: 190px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: $color-blue-charcoa;
    text-align: center;

    @include vp-1023 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
