.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  gap: 20px 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    flex-wrap: nowrap;
    gap: 20px;
  }

  @include vp-767 {
    align-self: unset;
    gap: 30px;
  }

  &__link {
    display: flex;
    color: $color-trout;

    &:hover,
    &:focus-visible {
      color: $color-ecru-white;
    }
  }

  &--technical {
    align-self: unset;

    @include vp-1023 {
      gap: 32px;
    }

    @include vp-767 {
      gap: 24px;
    }

    & .socials__link {
      &:hover,
      &:focus-visible {
        color: $color-ecru-white;
      }
    }
  }
}
