.about {
    padding: 120px 0;
    color: $color-fallow;

    &__list {
        display: flex;
        margin: 0 0 120px 0;
    }

    &__item {
        overflow: hidden;
        border-radius: 0 0 600px 600px;
        min-width: 456px;

        &--reverse {
            border: 1px solid $color-fallow;
            border-bottom: none;
            border-radius: 600px 600px 0 0;
        }

        &--text {
            padding: 91px 0;
        }
    }

    &__text-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__logo-img {
        margin: 0 0 30px 0;
    }

    &__logo-text {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.2em;
        margin: 0 0 10px 0;
    }

    &__title {
        text-transform: uppercase;
        color: $color-white;
        font-family: $ff-tenor;
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -0.08em;
        text-align: center;
        font-weight: 400;
        margin: 0 0 40px 0;
    }

    &__location-img {
        margin: 0 0 15px 0;
    }

    &__location-text {
        color: $color-white;
        font-size: 18px;
        line-height: 26px;
    }

    &__description {
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        font-family: $ff-tenor;
        display: block;
        max-width: 1368px;

        &--new-row {
            display: block;
        }
    }
}