.features {
    padding: 120px 0;

    &__list {
        display: flex;
    }

    &__item {
        overflow: hidden;
        border-radius: 0 0 600px 600px;
        min-width: 456px;

        &--reverse {
            border-width: 1px, 1px, 0px, 1px;
            border-style: solid;
            border-color: #C49A6C;
            border-radius: 600px 600px 0 0;
        }
    }
}