.park {
    margin: 0 0 120px 0;

    & img {
        width: 700px;
        height: 700px;
    }

    &__wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 120px 0;
    }

    &__content {
        max-width: 505px;
    }

    &__caption {
        font-family: $ff-tenor;
        color: $color-fallow;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        margin: 0 0 30px 0;
    }

    &__advantages-list {
        list-style: disc;
        padding-left: 20px;
    }

    &__advantages-item {
        font-size: 18px;
        line-height: 26px;
        padding: 0 0 15px 0;

        &::marker {
            color: $color-fallow;
        }
    }

    &__advantage {
        display: flex;
        gap: 85px;
        align-items: center;

        & svg {
            width: calc((100% - 199px) / 2);
            height: 16px;
            margin-bottom: 50px;
        }

        &-text {
            display: flex;
            gap: 30px;
            flex-direction: column;
            align-items: center;
        }

        &-value {
            font-family: $ff-tenor;
            color: $color-fallow;
            display: flex;
            gap: 15px;
            align-items: flex-end;
        }

        &-number {
            font-size: 140px;
            line-height: 100px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
        }

        &-unit {
            font-size: 34px;
            line-height: 44px;
            text-transform: uppercase;
        }

        &-note {
            font-size: 18px;
            line-height: 26px;
        }

    }
}