.text-block {
  padding: 0 0 83px;

  * {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  img {
    max-width: 1200px;
    height: 540px;
    margin: 0 auto 28px;

    @include vp-1023 {
      width: 100%;
      height: auto;
    }

  }

  figure {
    margin: 0 auto 48px;

    @include vp-1023 {
      width: 600px;
    }
  }

  figure img {
    width: 800px;
    height: 400px;
    margin: 0 0 12px;

    @include vp-1023 {
      width: 600px;
      height: 300px;
      margin: 0 auto 12px;
    }
  }

  figcaption {
    font-size: 14px;
    line-height: 18px;
    color: $color-light-grey-60;
    text-align: right;

    @include vp-1023 {
      font-size: 13px;
    }
  }

  h1 {
    max-width: 1200px;
    margin: 0 auto 48px;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    color: $color-zorba;
    text-align: center;

    @include vp-1023 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  h2 {
    margin: 48px auto 16px;
    font-size: 32px;
    font-weight: 300;
    line-height: 34px;
    color: $color-zorba;

    @include vp-1023 {
      font-size: 18px;
      line-height: 24px;
      margin: 48px 64px 16px;
    }
  }

  p {
    margin: 0 auto 16px;
    font-size: 16px;
    line-height: 24px;

    @include vp-1023 {
      margin: 0 64px 16px;
      width: 600px;
      font-size: 15px;
    }
  }

  blockquote {
    margin: 0 auto 48px;
    padding: 20px 60px;
    text-align: center;
    background: linear-gradient(90deg, $color-steel-blue-80 0%, $color-mariner-80 100%);
    border-radius: 120px;
  }

  blockquote p {
    margin: 0 auto;
  }

  q {
    font-style: italic;
    color: $color-zorba;
    letter-spacing: 0.08em;
  }

  a {
    font-weight: 500;
    color: $color-feldspar;
  }

  ul {
    margin: 0 auto 16px;
    padding: 0 0 0 27px;
  }

  ul li:not(:last-child) {
    margin: 0 auto 8px;
  }

  li {
    font-size: 16px;
    line-height: 24px;
  }
}
