.text-block {
  padding: 0 0 83px;

  @include vp-1023 {
    padding: 0 0 65px;
  }

  @include vp-767 {
    padding: 0 0 40px;
  }

  * {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  img {
    max-width: 1200px;
    height: 540px;
    margin: 0 auto 28px;

    @include vp-1023 {
      width: 100%;
      height: auto;
    }

    @include vp-767 {
      margin: 0 auto 20px;
    }
  }

  figure {
    margin: 0 auto 48px;

    @include vp-1023 {
      width: calc(100% - 2 * 64px);
    }

    @include vp-767 {
      width: 335px;
      margin: 0 auto 40px;
    }
  }

  figure img {
    width: 800px;
    height: 400px;
    margin: 0 0 12px;

    @include vp-1023 {
      width: 600px;
      height: 300px;
      margin: 0 auto 12px;
    }

    @include vp-767 {
      width: 335px;
      height: auto;
      margin: 0 0 11px;
    }
  }

  figcaption {
    font-size: 14px;
    line-height: 18px;
    color: $color-light-grey-60;
    text-align: right;

    @include vp-1023 {
      font-size: 13px;
    }

    @include vp-767 {
      font-size: 9px;
      line-height: 14px;
    }
  }

  h1 {
    max-width: 1200px;
    margin: 0 auto 48px;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    color: $color-zorba;
    text-align: center;

   @include vp-1023 {
      font-size: 24px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 23px;
      line-height: 28px;
      margin: 0 auto 40px;
    }
  }

  h2 {
    margin: 48px auto 16px;
    font-size: 32px;
    font-weight: 300;
    line-height: 34px;
    color: $color-zorba;

    @include vp-1023 {
      font-size: 19px;
      line-height: 24px;
      width: calc(100% - 64px *2);
    }

    @include vp-767 {
      margin: 40px 0 21px;
    }

  }

  p {
    margin: 0 auto 16px;
    font-size: 16px;
    line-height: 24px;

    @include vp-1023 {
      margin: 0 auto 16px;
      width: calc(100% - 64px *2);
      font-size: 15px;
    }

    @include vp-767 {
      margin: 0 0 20px;
      font-size: 14px;
      line-height: 20px;
      width: 100%
    }
  }

  blockquote {
    margin: 0 auto 48px;
    padding: 20px 60px;
    text-align: center;
    background: linear-gradient(90deg, $color-steel-blue-80 0%, $color-mariner-80 100%);
    border-radius: 120px;

    @include vp-1023 {
      padding: 20px;
      width: 600px;
    }

    @include vp-767 {
      width: 335px;
      padding: 15px;
      margin: 0 auto 40px;
    }
  }

  blockquote p {
    margin: 0 auto;

    @include vp-1023 {
      width: 100%;
    }

    @include vp-767 {
      font-size: 13px;
      line-height: 20px;
    }

  }

  q {
    font-style: italic;
    color: $color-zorba;
    letter-spacing: 0.08em;
  }

  a {
    font-weight: 500;
    color: $color-feldspar;

    &:hover,
    &:focus-visible {
      color: $color-zorba;
    }
  }

  ul {
    margin: 0 auto 16px;
    padding: 0 0 0 27px;

    @include vp-1023 {
      width: calc(100% - 64px *2);
    }

    @include vp-767 {
      margin: 0 0 8px;
      padding: 0 0 0 20px;
    }
  }

  ul li:not(:last-child) {
    margin: 0 auto 8px;

    @include vp-767 {
      margin: 0 0 4px;
    }
  }

  li {
    font-size: 16px;
    line-height: 24px;

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
