.news-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-card__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

.news-card__static-info {
    display: flex;
    gap: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #696E82;
    align-items: center;
    height: auto;
    margin-bottom: 16px;
}

.news-card__views {
    display: flex;
    align-items: center;
    gap: 4px;
}

.news-card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1E222E;
    margin-bottom: 8px;
}

.news-card__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #1E222E;
}